body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --material-theme-body-medium: Roboto;
  --font-noto-sans-jp: "Noto Sans JP";

  /* font sizes */
  --material-theme-headline-small-size: 24px;
  --material-theme-body-small-size: 12px;
  --material-theme-title-medium-size: 16px;
  --material-theme-body-medium-size: 14px;
  --font-size-lg: 18px;
  --components-button-small-size: 13px;

  /* Colors */
  --background: #f3f3f3;
  --color-whitesmoke-100: #f2f2f2;
  --darkgray: #757575;
  --black: #222;
  --light-text-secondary: rgba(0, 0, 0, 0.6);
  --light-other-outlined-border-23p: rgba(0, 0, 0, 0.23);
  --surface-overlay: rgba(33, 33, 33, 0.08);
  --light-text-primary: rgba(0, 0, 0, 0.87);
  --color-gray-100: rgba(255, 255, 255, 0.24);
  --color-gray-200: rgba(255, 255, 255, 0.87);
  --white: #fff;
  --lightgray: #dbdbe0;
  --color-darkslategray: #494949;
  --color-blueviolet: #6a00bd;
  --color-mediumpurple: #9358c2;
  --color-midnightblue: #1c31a1;
  --color-lightgray: #c4d5de;
  --color-royalblue-100: #677cef;
  --color-royalblue-200: #0d6efd;
  --color-royalblue-300: #4157ce;
  --blue: #0a7ebf;
  --color-steelblue-100: rgba(10, 126, 191, 0.08);
  --red: #bd0017;
  --lightred: #ffebeb;
  --bluegray: #808a9f;
  --gray: #b3b3b3;
  --light-primary-main: #1976d2;
  --light-primary-shades-50p: rgba(25, 118, 210, 0.5);

  /* Gaps */
  --gap-11xs: 2px;
  --gap-5xs: 8px;
  --gap-7xs: 6px;

  /* Paddings */
  --padding-9xs: 4px;
  --padding-5xs: 8px;
  --padding-7xs: 6px;
  --padding-base: 16px;
  --padding-5xl: 24px;
  --padding-xs: 12px;
  --padding-6xs: 7px;
  --padding-3xs: 10px;

  /* border radiuses */
  --br-9xs: 4px;
  --br-base: 16px;
  --br-11xs: 2px;
  --br-29xl: 48px;
}
